/.vscode
*/.vs*
/Entities/bin/Debug/net9.0/Entities.deps.json
/Entities/bin/Debug/net9.0/Entities.dll
/Entities/bin/Debug/net9.0/Entities.pdb
/Entities/obj/Debug/net9.0/Entities.AssemblyInfo.cs
/Entities/obj/Debug/net9.0/Entities.AssemblyInfoInputs.cache
/Entities/obj/Debug/net9.0/Entities.assets.cache
/Entities/obj/Debug/net9.0/Entities.csproj.AssemblyReference.cache
/Entities/obj/Debug/net9.0/Entities.csproj.CoreCompileInputs.cache
/Entities/obj/Debug/net9.0/Entities.csproj.FileListAbsolute.txt
/Entities/obj/Debug/net9.0/Entities.dll
/Entities/obj/Debug/net9.0/Entities.GeneratedMSBuildEditorConfig.editorconfig
/Entities/obj/Debug/net9.0/Entities.genruntimeconfig.cache
/Entities/obj/Debug/net9.0/Entities.GlobalUsings.g.cs
/Entities/obj/Debug/net9.0/Entities.pdb
/Entities/obj/Debug/net9.0/Entities.sourcelink.json
/Entities/obj/Debug/net9.0/ref/Entities.dll
/Entities/obj/Debug/net9.0/refint/Entities.dll
/Entities/obj/Entities.csproj.nuget.dgspec.json
/Entities/obj/Entities.csproj.nuget.g.props
/Entities/obj/project.assets.json
/Entities/obj/project.nuget.cache
/ServiceContracts/bin/Debug/net9.0/Entities.dll
/ServiceContracts/bin/Debug/net9.0/Entities.pdb
/ServiceContracts/bin/Debug/net9.0/ServiceContracts.deps.json
/ServiceContracts/bin/Debug/net9.0/ServiceContracts.dll
/ServiceContracts/bin/Debug/net9.0/ServiceContracts.pdb
/ServiceContracts/obj/Debug/net9.0/ref/ServiceContracts.dll
/ServiceContracts/obj/Debug/net9.0/refint/ServiceContracts.dll
/ServiceContracts/obj/Debug/net9.0/ServiceContracts.AssemblyInfo.cs
/ServiceContracts/obj/Debug/net9.0/ServiceContracts.AssemblyInfoInputs.cache
/ServiceContracts/obj/Debug/net9.0/ServiceContracts.assets.cache
/ServiceContracts/obj/Debug/net9.0/ServiceContracts.csproj.AssemblyReference.cache
/ServiceContracts/obj/Debug/net9.0/ServiceContracts.csproj.CoreCompileInputs.cache
/ServiceContracts/obj/Debug/net9.0/ServiceContracts.csproj.FileListAbsolute.txt
/ServiceContracts/obj/Debug/net9.0/ServiceContracts.dll
/ServiceContracts/obj/Debug/net9.0/ServiceContracts.GeneratedMSBuildEditorConfig.editorconfig
/ServiceContracts/obj/Debug/net9.0/ServiceContracts.GlobalUsings.g.cs
/ServiceContracts/obj/Debug/net9.0/ServiceContracts.pdb
/ServiceContracts/obj/Debug/net9.0/ServiceContracts.sourcelink.json
/ServiceContracts/obj/project.assets.json
/ServiceContracts/obj/project.nuget.cache
/ServiceContracts/obj/ServiceContracts.csproj.nuget.dgspec.json
/ServiceContracts/obj/ServiceContracts.csproj.nuget.g.props
/Services/bin/Debug/net9.0/Entities.dll
/Services/bin/Debug/net9.0/Entities.pdb
/Services/bin/Debug/net9.0/ServiceContracts.dll
/Services/bin/Debug/net9.0/ServiceContracts.pdb
/Services/bin/Debug/net9.0/Services.deps.json
/Services/bin/Debug/net9.0/Services.dll
/Services/bin/Debug/net9.0/Services.pdb
/Services/obj/Debug/net9.0/ref/Services.dll
/Services/obj/Debug/net9.0/refint/Services.dll
/Services/obj/Debug/net9.0/Services.AssemblyInfo.cs
/Services/obj/Debug/net9.0/Services.AssemblyInfoInputs.cache
/Services/obj/Debug/net9.0/Services.assets.cache
/Services/obj/Debug/net9.0/Services.csproj.AssemblyReference.cache
/Services/obj/Debug/net9.0/Services.csproj.CoreCompileInputs.cache
/Services/obj/Debug/net9.0/Services.csproj.FileListAbsolute.txt
/Services/obj/Debug/net9.0/Services.dll
/Services/obj/Debug/net9.0/Services.GeneratedMSBuildEditorConfig.editorconfig
/Services/obj/Debug/net9.0/Services.genruntimeconfig.cache
/Services/obj/Debug/net9.0/Services.GlobalUsings.g.cs
/Services/obj/Debug/net9.0/Services.pdb
/Services/obj/Debug/net9.0/Services.sourcelink.json
/Services/obj/project.assets.json
/Services/obj/project.nuget.cache
/Services/obj/Services.csproj.nuget.dgspec.json
/Services/obj/Services.csproj.nuget.g.props
/StocksApp/bin/Debug/net9.0/Entities.dll
/StocksApp/bin/Debug/net9.0/Entities.pdb
/StocksApp/bin/Debug/net9.0/ServiceContracts.dll
/StocksApp/bin/Debug/net9.0/ServiceContracts.pdb
/StocksApp/bin/Debug/net9.0/Services.dll
/StocksApp/bin/Debug/net9.0/Services.pdb
/StocksApp/bin/Debug/net9.0/StocksApp.deps.json
/StocksApp/bin/Debug/net9.0/StocksApp.dll
/StocksApp/bin/Debug/net9.0/StocksApp.exe
/StocksApp/bin/Debug/net9.0/StocksApp.pdb
/StocksApp/bin/Debug/net9.0/StocksApp.staticwebassets.endpoints.json
/StocksApp/bin/Debug/net9.0/StocksApp.staticwebassets.runtime.json
/StocksApp/bin/Debug/net9.0/System.Formats.Asn1.dll
/StocksApp/bin/Debug/net9.0/System.Text.Json.dll
/StocksApp/obj/Debug/net9.0/apphost.exe
/StocksApp/obj/Debug/net9.0/rbcswa.dswa.cache.json
/StocksApp/obj/Debug/net9.0/ref/StocksApp.dll
/StocksApp/obj/Debug/net9.0/refint/StocksApp.dll
/StocksApp/obj/Debug/net9.0/rjimswa.dswa.cache.json
/StocksApp/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
/StocksApp/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
/StocksApp/obj/Debug/net9.0/rpswa.dswa.cache.json
/StocksApp/obj/Debug/net9.0/staticwebassets.build.endpoints.json
/StocksApp/obj/Debug/net9.0/staticwebassets.build.json
/StocksApp/obj/Debug/net9.0/staticwebassets.build.json.cache
/StocksApp/obj/Debug/net9.0/staticwebassets.development.json
/StocksApp/obj/Debug/net9.0/staticwebassets.removed.txt
/StocksApp/obj/Debug/net9.0/staticwebassets.upToDateCheck.txt
/StocksApp/obj/Debug/net9.0/StocksApp.AssemblyInfo.cs
/StocksApp/obj/Debug/net9.0/StocksApp.AssemblyInfoInputs.cache
/StocksApp/obj/Debug/net9.0/StocksApp.assets.cache
/StocksApp/obj/Debug/net9.0/StocksApp.csproj.AssemblyReference.cache
/StocksApp/obj/Debug/net9.0/StocksApp.csproj.CoreCompileInputs.cache
/StocksApp/obj/Debug/net9.0/StocksApp.csproj.FileListAbsolute.txt
/StocksApp/obj/Debug/net9.0/StocksApp.dll
/StocksApp/obj/Debug/net9.0/StocksApp.GeneratedMSBuildEditorConfig.editorconfig
/StocksApp/obj/Debug/net9.0/StocksApp.genruntimeconfig.cache
/StocksApp/obj/Debug/net9.0/StocksApp.GlobalUsings.g.cs
/StocksApp/obj/Debug/net9.0/StocksApp.pdb
/StocksApp/obj/Debug/net9.0/StocksApp.sourcelink.json
/StocksApp/obj/project.assets.json
/StocksApp/obj/project.nuget.cache
/StocksApp/obj/StocksApp.csproj.nuget.dgspec.json
/StocksApp/obj/StocksApp.csproj.nuget.g.props
/StocksAppTest/bin/Debug/net9.0/StocksAppTest.dll
/StocksAppTest/bin/Debug/net9.0/StocksAppTest.pdb
/StocksAppTest/obj/Debug/net9.0/ref/StocksAppTest.dll
/StocksAppTest/obj/Debug/net9.0/refint/StocksAppTest.dll
/StocksAppTest/obj/Debug/net9.0/StocksAppTest.AssemblyInfo.cs
/StocksAppTest/obj/Debug/net9.0/StocksAppTest.AssemblyInfoInputs.cache
/StocksAppTest/obj/Debug/net9.0/StocksAppTest.assets.cache
/StocksAppTest/obj/Debug/net9.0/StocksAppTest.csproj.AssemblyReference.cache
/StocksAppTest/obj/Debug/net9.0/StocksAppTest.csproj.CoreCompileInputs.cache
/StocksAppTest/obj/Debug/net9.0/StocksAppTest.csproj.FileListAbsolute.txt
/StocksAppTest/obj/Debug/net9.0/StocksAppTest.dll
/StocksAppTest/obj/Debug/net9.0/StocksAppTest.GeneratedMSBuildEditorConfig.editorconfig
/StocksAppTest/obj/Debug/net9.0/StocksAppTest.genruntimeconfig.cache
/StocksAppTest/obj/Debug/net9.0/StocksAppTest.GlobalUsings.g.cs
/StocksAppTest/obj/Debug/net9.0/StocksAppTest.pdb
/StocksAppTest/obj/Debug/net9.0/StocksAppTest.sourcelink.json
/StocksAppTest/obj/project.assets.json
/StocksAppTest/obj/project.nuget.cache
/StocksAppTest/obj/StocksAppTest.csproj.nuget.dgspec.json
/StocksAppTest/obj/StocksAppTest.csproj.nuget.g.props
